<div class="fullscreen">
    <i class="fa-solid fa-xmark cross"></i>

    <div class="addImgDiv">
      <div class="topp">
        <p>Create new Post</p>
      </div>
      <div class="restt">
          <div class="imgvid">
            <i class="fa-regular fa-image"></i>
            <i class="fa-regular fa-file-video"></i>
          </div>
          <p class="mt-2 mb-2">Drag photos and videos</p>
          <form method="GET" action="/posts/new" class="addImgForm">
            <input class="form-control" type="text" name="imageUrl" placeholder="Enter url">
            <button class="btn btn-primary" style="width: 100%;">Add</button>
          </form>
      </div>
    </div>
  </div>