<style>
    a{
        color: black;
        text-decoration: none;
    }
    .nav-items{
        border-bottom: 1px solid rgba(0, 0, 0,0.25);
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding: 0 20%;
        height: 60px;
        width: 100%;
        position:fixed;
        top: 0;
        z-index: 2;
        background-color: white;
    }
    .navbarspace{
        height: 60px;
        width: 100vw;
    }
    .dp{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        object-fit: cover;
    }
    .icons{
        display: flex;
        align-items: center;
        position: relative;
    }
    .icons i{
        font-size: 22px;
        margin-right: 1.25rem;
    }
    .logo{
        font-size: 24px;
        font-weight: 600;
        text-decoration: none;
        color: #252525;
        font-family: "Playwrite CL", cursive;
        font-optical-sizing: auto;
    }
    .search-box {
        position: relative;
        margin-right: 1.25rem;
    }
    .search-box input {
        border-radius: 4px;
        width: 100%;
        padding: 5px 5px 5px 32px;
        box-sizing: border-box;
        border: none;
        background-color: #efefef;
    }

    .search-box .fa-search {
        position: absolute;
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
        color: #999;
    }
    
    .user-option-list{
        display: none;
        height: 160px;
        width: 220px;
        z-index: 8;
        position: absolute; 
        top: 50px; 
        right: 0; 
        flex-direction: column;
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0 0 2px black;
    }
    .user-option{
        display: flex;
        align-items: center;
        padding: 0.5rem 0.75rem;
        cursor: pointer;
    }
    .user-option:hover{
        background-color: rgb(249, 250, 251)
    }
    .user-option i, .user-option{
        font-size: 14px;
    }
    .user-option i{
        width: 0.75rem;
    }
</style>




<nav>
    <div class="nav-items">
        <a class="logo" href="/posts">
            Photogram
        </a>
    
        <div class="icons">
            <div class="search-box">
                <i style="font-size: 16px;" class="fa fa-search"></i>
                <input type="text" id="search" name="search" placeholder="Search">
            </div>
            <a href="/posts"><i class="fa-solid fa-house"></i></a>
            <i class="fa-regular fa-message"></i>
            <i class="fa-regular fa-square-plus createnew"></i>
            <i class="fa-regular fa-compass"></i>
            <i class="fa-regular fa-heart"></i>
            <div>
                <img class="dp profile-dp" src="<%=currUser.profilePicture%>">
                <div class="user-option-list">
                    <div class="user-option"><i class="fa-regular fa-user"></i>Profile</div>
                    <div class="user-option"><i class="fa-regular fa-bookmark"></i>Saved</div>
                    <div class="user-option"><i class="fa-solid fa-gear"></i>Setting</div>
                    <a href="/logout" class="user-option mt-1" style="border-top: 1px solid black;">Logout</a>
                </div>
                
            </div>
        </div>
    </div>
    <div class="navbarspace"></div>
</nav>

