::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 59%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 49%);
}
  