<% layout("/layouts/boilerplate")%>
<style>
    .main{
        margin: 0 auto;
        margin-top: 2rem;
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.25);
        padding-bottom: 2rem;
    }
    .photogram{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .heading{
        margin: 2rem 0;
        font-size: 36px;
        font-weight: 600;
        text-decoration: none;
        color: #252525;
        font-family: "Playwrite CL", cursive;
        font-optical-sizing: auto;
    }
    
    .inputs{
        width: 100%;
        margin-top: 1.5rem;
    }
    .input-div{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    input{
        height: 2rem;
        width: 70%;
        margin-bottom: 0.25rem;
        font-size: 12px;
        border: 1px solid hsla(0, 0%, 15%, 0.5);
        border-radius: 0.25rem;
        padding-left: 0.45rem;
    }
    input:focus{
        outline:none;
        border: 1px solid hsla(0, 0%, 15%, 0.75);
    }
    .submit-button{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 1rem;
    }
    .submit-btn{
        width: 70%;
        color: white;
        background-color: #0095f6;
    }
    .submit-btn:hover, .submit-btn:active{
        background-color: #1877f2 !important;
    }
    .signup{
        margin: 0 auto;
        margin-top: 2rem;
        height: 60px;
        width: 350px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
    .signup a{
        text-decoration: none;
        margin-left: 6px;
        color: #0095f6;
        font-weight: 500;
    }
    </style>
<form method="POST" action="/login">
    <div class="main">
        <div class="photogram">
            <div class="heading">Photogram</div>
        </div>
        <div class="inputs">
            <div class="input-div">
                <input type="text" name="username" id="username" placeholder="Username">
            </div>
            <div class="input-div">
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <div class="submit-button">
            <button class="btn submit-btn">Log in</button>
        </div>
    </div>
</form>
<div class="signup">
    <div>Don't have an account?</div>
    <a href="/signup">Sign up</a>
</div>

<script>
    let navbar = document.querySelector('nav');
    if(navbar){
        navbar.style.display = 'none';
    }
</script>