<% layout("/layouts/boilerplate")%>
<style>
    .userr{
        height: 400px;
        width: 400px;
        margin: 0 auto;
        background-color: whitesmoke;
    }

</style>
<div class="userr">
    <p><%=user.username%></p>
    <p><%=user%></p>
    <p></p>
    <p></p>
</div>