<% layout("/layouts/boilerplate")%>

<form method="POST" action="/signup">
    <br>
    <br>
    <br>
    <label for="username">Enter username</label>
    <input type="text" name="username" id="username">
    <br>
    <br>
    <br>
    <label for="Password">Enter Password</label>
    <input type="password" name="password" id="password">
    <input type="text" name="profilePicture" id="profilePicture">
    <button>submit</button>
</form>