<% layout("/layouts/boilerplate")%>
<style>
    .main{
        display: flex;
    }
    .card{
        border: 1px solid rgba(0, 0, 0, 0.25) !important;
        height: 500px;
        width: 500px;
        margin-top: 10px;
        
    }
    .pp{
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }

    .card-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.6rem 0.6rem;
    }

    .mid-icons{
        display: flex;
        justify-content: space-between;
    }
    .username{
        text-decoration: none;
        color: black;
    }
    .img-container{
        height: 350px;
        width: 500px;
        
    }
    .post-img{
        height: 100%;
        width: 100%;
        object-fit:cover;
        position: relative;
    }
    .suggestions{
        height: 250px;
        width: 250px;
        background-color: skyblue;
        margin: 10px 0 0 20px;

    }
</style>
<div class="main">
    <div class="allposts offset-3">
        <% for(let post of posts) {%>
            <div class="card">
                <div class="card-top">
                    <div>
                        <img class="pp card-img-top" src="<%=post.imageUrl%>">
                        <a class="username" href="/<%=post.username%>"><%=post.username%></a>
                    </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
                <div class="img-container">
                    <img class="post-img" src="<%=post.imageUrl%>">
                </div>
                <div class="card-desc1">
                    <div class="mid-icons">
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-regular fa-comment"></i>
                    </div>   
                    <i class="fa-regular fa-bookmark"></i> 
                </div>
            </div>
        <% }%>
</div>

<%# <div class="suggestions"> %>
<%#     <div class="user-info"> %>
<%#         <div class="pp"></div> %>
<%#         <div class="name"></div> %>
<%#         <div class="switch"></div> %>
<%#     </div> %>
<%#     <div class="suggetion-4u-bar"></div> %>
<%#     <div class="sugg-list"> %>
<%#         <p>put user-info wala pura div multiple times here</p> %>
<%#     </div> %>
<%# </div> %>

</div>