<% layout("/layouts/boilerplate")%>
<style>
.post {
  height: 475px;
  width: 800px;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.heading-post{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}
.share-btn {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #0095f6;
  font-weight: 500;
}

.post-section {
  display: flex;
  padding: 10px;
}

.image-container {
  position: relative;
  width: 50%;
}

.image-container img {
  height: 390px;
  width: 390px;
  object-fit: cover;
  border-radius: 10px;
}
.caption-container {
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: 1rem;
}
.user-dta{
    display: flex;
}

textarea {
  width: 100%;
  height: 80px;
  border: none;
  resize: none;
  outline: none;
  font-size: 14px;
}
</style>

<form method="POST" action="/posts">
    <div class="post">
        <div class="header">
        <span></span>
        <p class="heading-post">Create new post</p>
        <button class="share-btn">Share</button>
        </div>
        <div class="post-section">
        <div class="image-container">
            <img src=<%=imageUrl%>>
            <input style="display: none;" type="text" name="post[imageUrl]" value=<%=imageUrl%>>
        </div>
        <div class="caption-container">
            <div class="user-dta">
                <img class="profile-pic" src =<%=currUser.profilePicture%>>
                <p><%=currUser.username %></p>
            </div>
            <textarea name="post[caption]" placeholder="Write a caption..."></textarea>
        </div>
        </div>
    </div>
    
    
</form>